html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    line-height: 1.5;
    font-size: 16px;

    @media screen and (max-width: $break-1-col) {
        font-size: 15px;
    }
}

body {
    background-color: $color-background-primary;
    word-wrap: break-word;
    margin: 0;
}

.flex {
    display: flex;
}

h1, h2, h3 {
    font-weight: 400;
    color: $color-text;
}

h1 {
    font-size: 4rem;
    line-height: 110%;
    margin: 2.1rem 0 1.68rem 0;
}

h2 {
    font-size: 3.5rem;
    line-height: 110%;
    margin: 1.78rem 0 1.424rem 0;
}

h3 {
    font-size: 3rem;
    line-height: 110%;
    margin: 1.46rem 0 1.168rem 0;
}


button:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
}