$break-1-col: 1200px;

$color-background-primary: black;
$color-background-secondary: #222;

$color-secondary: #4A3247;
$color-tertiary: #2D1E26;

$color-text: white;
$color-text-emphasised: #FF476A;

$footer-height: 10vh;
$footer-min-height: 60px;