@import 'variables';
@import 'component/movies-list';
@import 'component/movie-item';
@import 'component/recorder';
@import 'component/search';
@import 'layout';

.app {
    margin-bottom: $footer-height;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}