@import 'variables';
@import 'component/app';
@import 'component/lang-selector';
@import 'component/movies-list';
@import 'component/movie-item';
@import 'component/recorder';
@import 'component/search';
@import 'component/splash';
@import 'component/stars-rating';
@import 'component/top-nav';
@import 'layout';