.app {
    margin-bottom: $footer-height;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    box-sizing: border-box;
    color: $color-text-secondary;

    &__content {
        display: flex;
        flex-direction: column;
        margin-top: $top-nav-min-height;

        @include for-phone-only {
            padding: 10px 20px;
        }

        @include for-tablet-portrait-up {
            padding: 5vh 10vh;
        }

        @include for-tablet-landscape-up {
            padding: 5vh 20vw;
        }
    }
}