.app {
    margin-bottom: $footer-height;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    color: $color-text-secondary;

    &__content {
        display: flex;
        flex-direction: column;
        padding: 10vh 20vw;

        @media screen and (max-width: $break-1-col) {
            padding: 0;
        }
    }
}