.movie {
    color: $color-text;
    display: flex;
    flex-basis: 50%;

    &__content-wrapper {
        display: flex;
        flex: 1;
        background-color: $color-background-secondary;
        border: 1px solid $color-background-secondary;
        margin: 10px;
    }

    &__details {
        display: flex;
        flex: 1;
    }

    &__score {
        display: flex;
        align-self: center;
        padding: 10px;
        color: $color-text-emphasised;
        font-size: 1.5em;
    }

    &__name {
        font-size: 1.3em;
        color: white;
        display: flex;
        flex: 1;
        align-self: center;
        margin: 0 20px;
    }

    &__picture {
        display: flex;
        flex-basis: 50px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    &__matching {
        display: none;
        color: $color-matching;
        text-transform: uppercase;
        align-items: center;
        font-size: .5em;
        margin-right: 10px;
        text-align: center;
    }

    &--matching {
        .movie__matching {
            display: flex;
        }
    }

    @media screen and (max-width: $break-1-col) {
        flex-basis: 100%;
        min-height: 100px;
        padding: 10px 0;

        &__content-wrapper {
            margin: 0;
        }
    }
}