.movie {
    color: $color-text;
    display: flex;
    flex-basis: 50%;
    min-height: 100px;

    &__content-wrapper {
        display: flex;
        flex: 1;
        background-color: $color-background-secondary;
        border: 1px solid $color-background-secondary;
        margin: 10px;
    }

    &__details {
        display: flex;
        flex: 1;
    }

    &__score {
        display: flex;
        align-self: center;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        color: $color-text-secondary;
        font-size: 1.2em;
    }

    &__name {
        font-size: 1.3em;
        color: white;
        display: flex;
        flex: 1;
        align-self: center;
        margin: 0 20px;
    }

    &__picture {
        display: flex;
        flex-basis: 50px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    @include for-phone-only {
        flex-basis: 100%;
        padding: 10px 0;

        &__content-wrapper {
            margin: 0;
        }
    }
}