.movies-list {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;

    &__loader {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: $footer-height;
        background-color: rgba(0, 0, 0, .8);
        color: $color-text;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &--loading {
        .movies-list__loader {
            display: flex;
        }
    }
}

.movie {
    color: $color-text;
    display: flex;
    flex-basis: 50%;
    padding: 10px;

    &__content-wrapper {
        display: flex;
        flex: 1;
        background-color: $color-background-secondary;
        border: 1px solid $color-background-secondary;
    }

    &__details {
        display: flex;
        flex: 1;
    }

    &__score {
        display: flex;
        align-self: center;
        padding: 10px;
        color: $color-text-emphasised;
        font-size: 1.5em;
    }

    &__name {
        font-size: 1.3em;
        color: white;
        display: flex;
        flex: 1;
        align-self: center;
        margin: 0 20px;
    }

    &__picture {
        display: flex;
        flex-basis: 50px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    @media screen and (max-width: $break-1-col) {
        flex-basis: 100%;
        min-height: 100px;
    }
}