$color-recording-bg: rgba(255, 30, 30, 1);
$color-recording-fg: white;

.recorder {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $footer-height;
    min-height: $footer-min-height;

    &__record-btn,
    &__record-btn:active,
    &__record-btn:focus,
    &__record-btn:hover {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        margin: 0;
        background-color: $color-text-emphasised;
        color: $color-text;
        text-transform: uppercase;
        border: none;
    }

    &__record-btn__content {
        display: flex;
        justify-content: center;
        align-items: center;

        &__icon {
            margin-right: 5px;
        }
    }

    &--recording {
        .recorder__record-btn,
        .recorder__record-btn:active,
        .recorder__record-btn:focus,
        .recorder__record-btn:hover {
            background-color: $color-recording-bg;
            color: $color-recording-fg;
        }
    }
}