.search {
    height: 5vh;
    display: flex;
    align-items: center;
    padding-left: 10px;

    &__label {
        color: $color-text-secondary;
        margin-right: 5px;
    }

    &__query {
        color: $color-text;
    }
}