.splash {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10vh 20vw 0;
    text-align: justify;

    @media screen and (max-width: $break-1-col) {
        padding: 10vh 10vw 0;
    }
}