.recorder {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vh;
}

.recorder__record-btn {
    height: 100%;
}

.recorder__transcript {
    
}

.recorder__loader {
    
}